<div class='flex-1 h-full w-full flex flex-col gap-4'>
  <%= render 'components/text/header' do %>
    Transactions Data
  <% end %>
  <div class='w-full flex flex-col lg:flex-row gap-4'>
    <%= render 'transactions_details', collection: @transactions %>
    <%= render 'chart_transactions_month', collection: @transactions %>
  </div>
  <div class='w-full flex flex-col lg:flex-row gap-4'>
    <%= render 'chart_transactions_day', collection: @transactions %>
    <%= render 'chart_transactions_volume_month', collection: @transactions %>
  </div>

  <%= render_separator class: 'my-4' %>

  <%= render 'components/text/header' do %>
    Users Data
  <% end %>

  <div class='w-full flex flex-col lg:flex-row gap-4'>
    <%= render 'users_details', collection: @users %>
    <%= render 'chart_users_time', collection: @transactions %>
  </div>
</div>
