<h1>Stocks</h1>

<h2>Pages</h2>
<ul>
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Porfolio', portfolios_path %></li>
  <li><%= link_to 'Transactions', transactions_path %></li>
  <li><%= link_to "Users", admin_users_path %></li>
  <li><%= link_to "Transactions", admin_transactions_path %></li>
</ul>

<div class="mt-6">
  <h2>Stocks</h2>
  <ol>
    <% @stocks.each do |stock| %>
      <li class="flex items-center gap-2">
        <%= stock[:logo_url].present? ? image_tag(stock[:logo_url], width: 20, height: 20) : image_tag("https://via.placeholder.com/50") %>
        <%= link_to "#{stock[:symbol]}: #{number_to_currency(stock[:price], precision: 2)}", stock_path(stock[:symbol]) %>
        <%= stock[:change] %>
      </li>
    <% end %>
  </ol>
</div>

<%= button_to "Log out", destroy_user_session_path, method: :delete %>
