<div class="relative flex flex-col gap-2">
  <!-- Sector Performance Cards -->
  <div class="flex flex-col">
    <h1 class="flex items-center gap-1 text-xs text-muted-foreground font-semibold">
      <span>SECTOR PERFORMANCE</span>
    </h1>
    <div class="flex gap-2 h-24 overflow-x-auto p-2">
      <% @markets.each do |market| %>
        <%= render_card class: "flex flex-col gap-1 justify-between text-xs w-[120px] h-full p-4 cursor-pointer hover:bg-muted" do %>
          <div class="flex gap-2 items-center">
            <h2 class="font-semibold"><%= market[:symbol] %></h2>
            <span class="px-2 py-1 rounded <%= market[:performance].to_d < 0 ? 'bg-destructive text-white' : 'bg-success-light text-success' %>"><%= market[:performance] %></span>
          </div>
          <div class="flex justify-start">
            <h3 class="text-muted-foreground truncate" title="<%= market[:name] %>"><%= market[:name] %></h3>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- Search stocks -->
  <div class="relative flex w-full max-w-lg min-w-[350px] mx-auto p-10 z-10">
    <%= render partial: 'stocks_search/form', locals: { type: :link } %>
  </div>

  <div class="relative flex flex-col lg:flex-row gap-2 z-0">
    <div class="flex flex-col w-full lg:w-3/5 gap-2">
      <!-- Market Trends -->
      <%= render_card title: "Market trends", class: "w-full p-4 min-w-[350px]" do %>
        <%= render 'stock_filters' %>
        <%= render_separator class: 'my-6' %>

        <%= turbo_frame_tag 'market_trends_frame', src: stocks_tables_path(filter: params[:filter]) do %>
          <% 10.times do %>
            <%= render_skeleton %>
          <% end %>
        <% end %>
      <% end %>

      <!-- Sector Performance Chart -->
      <%= render_card title: "Today's Sector Performance", class: "w-full p-4" do %>
        <%= line_chart @perf_chart, 
          id: "sec-performance-chart", 
          xtitle: 'Sector',
          ytitle: 'Performance',
          colors: ["#b00", "#666"],
          loading: "Loading..."
        %>
      <% end %>
    </div>

    <div class="flex flex-col w-full lg:w-2/5 gap-2">
      <div class="flex flex-col gap-2">

        <!-- Portfolio Overview -->
        <%= render_card class: 'h-96 w-full min-w-[350px] overflow-hidden' do %>
          <%= turbo_frame_tag "portfolio_frame", src: portfolios_path, 
            class: "w-full overflow-y-auto scroll-smooth scrollbar-none" do %>
            <%= render_spinner %>
          <% end %>
        <% end %>

        <!-- Today's Financial News -->
        <%= render_card title: "Today's Financial news", class: "w-full min-w-[350px] p-4" do %>
          <%= turbo_frame_tag :stocks_articles, src: stocks_articles_path do %>
            <% 5.times do %>
              <%= render_skeleton %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>
