<h1>Stocks</h1>

<h2>Pages</h2>
<ul>
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Porfolio', portfolios_path %></li>
  <li><%= link_to 'Transactions', transactions_path %></li>
  <li><%= link_to "Users", admin_users_path %></li>
  <li><%= link_to "Transactions", admin_transactions_path %></li>
</ul>

<ul class="flex flex-row gap-2">
  <li>Most Active</li>
  <li>Gainers</li>
  <li>Losers</li>
</ul>

<div class="flex space-x-4">
  <%= link_to "Buy", new_transaction_path(transaction_type: 'buy'), method: :get, class: "button button-primary" %>
  <%= link_to "Sell", new_transaction_path(transaction_type: 'sell'), method: :get, class: "button button-primary" %>
</div>

<%= render partial: 'stocks_table', locals: { stocks: @stocks } %>

<%= button_to "Log out", destroy_user_session_path, method: :delete %>
