<div class="flex flex-col gap-4">
  <%= render_card class: "p-6" do %>
    <h3 class="font-semibold text-3xl px-6">
      <%= turbo_frame_tag "account-balance" do %>
        <%= number_to_currency(@balance, precision: 2) %>
      <% end %>
    </h3>
    <span class="text-muted-foreground text-sm p-6 mb-6">Account Balance</span>
  <% end %>

  <%= turbo_frame_tag "wallet_frame" do %>
    <div class='h-full w-full flex items-center justify-center border rounded-lg bg-background py-4 shadow-md slide-down'>
      <div class="flex flex-col items-center w-full gap-2 p-4">
        <%= render_tabs do %>
          <%= tab_list do %>
            <%= tab "Deposit", active: true %>
            <%= tab "Withdraw" %>
          <% end %>

          <%= tab_panels do %>
            <%= tab_panel active: true do %>
              <%= render_separator class: 'my-2' %>
              <%= turbo_frame_tag "deposit_form" do %>
                <%= render partial: 'transactions/form', locals: { transaction: @transaction, transaction_type: 'deposit' } %>
                <%# render "form", transaction_type: "deposit" %>
              <% end %>
            <% end %>

            <%= tab_panel do %>
              <%= render_separator class: 'my-2' %>
              <%= turbo_frame_tag "withdraw_form" do %>
                <%= render partial: 'transactions/form', locals: { transaction: @transaction, transaction_type: 'withdraw' } %>
                <%# render "form", transaction_type: "withdraw" %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
