<div class="flex lg:hidden text-muted-foreground">
  <%= render_sheet direction: "right" do %>
  <%= sheet_trigger do %>
    <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
      <span class="sr-only">Open main menu</span>
      <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </button>
  <% end %>
  <%= sheet_content do %>
    <%= render 'components/navbar/nav_account_menu' %>
    <div class="flex flex-col mt-10 gap-4">
      <% links.each do |link| %>
        <% active_link = (request.path == link[:path]) ? "text-foreground" : "" %>
        <%= link_to link[:name], link[:path], class: active_link %>
      <% end %>
      <%= render 'components/navbar/shared_buttons' %>
    </div>
  <% end %>
<% end %>    
</div>
