<% if request.path == admin_users_path %>
  <%= render partial: 'create_user_form', locals: { user: @user } %>
<% end %>

<% if current_user.role == 'standard' %>
  <%= render_dialog do %>
    <%= dialog_trigger do %>
      <%= render_button("Buy / Sell", variant: :outline) %>
    <% end %>
    <%= dialog_content do %>
      <div class="w-full">
        <h1 class="font-semibold">Buy / Sell stock</h1>
        <%= render "transactions/form", transaction: @transaction, items: @stocks %>
      </div>
    <% end %>
  <% end %>
<% end %>
