<div class='flex flex-col lg:flex-row gap-4 w-full min-w-[350px] items-center mb-4 overflow-x-auto'>
  <%= render partial: 'search' %>
  <%= render partial: 'filters' %>
</div>


<%= render_card class: 'w-full min-w-[350px] p-6 overflow-x-auto' do %>
  <%= turbo_frame_tag 'transactions' do %>
    <%= render partial: 'admin_transactions_table' %>
  <% end %>

  <div class='flex w-full justify-center'>
    <%= paginate @transactions %>
  </div>
<% end %>
