<div class='flex flex-row gap-4 w-full mb-4'>
  <%= render partial: 'search' %>
  <%= render partial: 'filters' %>
</div>


<%= render_card class: 'w-full p-6 overflow-x-auto' do %>
  <%= turbo_frame_tag 'transactions' do %>
    <%= render partial: 'admin_transactions_table' %>
  <% end %>

  <div class='flex w-full justify-center'>
    <%= paginate @transactions %>
  </div>
<% end %>
