<h1>Admin Transactions</h1>

<table>
  <tbody>
    <% @transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.id %></td>
          <td><%= transaction.symbol %></td>
          <td><%= transaction.transaction_type %></td>
          <td><%= transaction.price %></td>
          <td><%= transaction.user_id %></td> 
          <td><%= transaction.created_at %></td>
          <td><%= link_to "Show", admin_transaction_path(transaction) %>
        </tr>
    <% end %>
  </tbody>
</table>
