<div class="flex flex-col md:flex-row w-full gap-4">
  <%= render_card class: 'w-full md:w-1/3' do %>
    <div class="flex flex-col gap-4 p-6">
      <div>
        <label class="font-bold">Full Name</label>
        <p><%= @user.first_name %>
      </div>
      <div>
        <label class="font-bold">Email</label>
        <p><%= @user.email %>
      </div>
      <div>
        <label class="font-bold">Role</label>
        <p><%= @user.role %>
      </div>
    </div>
    <div class='flex flex-row gap-4 p-6'>
      <%= render partial: 'edit_user_form', locals: { user: @user } %>
      <%= render partial: 'delete_user_form', locals: { user: @user } %>
    </div>
  <% end %>
  <%= render_card class: 'w-full' do %>
    <div class="flex flex-row gap-8 p-6">
      <div>
        <label class="font-bold">Created at</label>
        <p><%= @user.created_at %></p>
      </div>
      <div>
        <label class="font-bold">Last updated on</label>
        <p><%= @user.updated_at %></p>
      </div>
    </div>
    <div class="flex flex-col gap-4 p-6">
      <div>
        <div class="flex flex-row gap-4 items-center">
          <div class="h-3 w-3 rounded-sm <%= @user.confirmed? ? "bg-success" : "bg-destructive" %>"></div>
          <label>Confirmation Status</label>
        </div>
        <p><%= @user.confirmed_at_was %></p>
      </div>
      <div>
        <div class="flex flex-row gap-4 items-center">
          <div class="h-3 w-3 rounded-sm <%= @user.approved? ? "bg-success" : "bg-destructive" %>"></div>
          <label>Approval Status</label>
        </div>
      </div>
    </div>
  <% end %>
</div>
