<% headers = ["ID", "Type", "Symbol", "Quantity", "Price", "Value", "Created at"] %>

<%= render_card class: 'w-full' do %>
  <%= render_table do %>
    <%= table_head do %>
      <% headers.each do |header| %>
        <%= table_header header %>
      <% end %>
    <% end %>
    <%= table_body do %>
      <% @transactions.each do |transaction| %>
        <% text_color = transaction.transaction_type === "buy" ? "text-success" : "text-destructive" %>
        <% operation = transaction.transaction_type == "buy" ? "" : "-" %>
        <%= table_row class: text_color do %>
          <%= table_column transaction.id.to_s %>
          <%= table_column transaction.transaction_type.upcase %>
          <%= table_column transaction.symbol %>
          <%= table_column transaction.quantity.to_s %>
          <%= table_column do %>
            <span>$<%= transaction.price.to_s %></span>
          <% end %>
          <%= table_column do %>
            <% value = transaction.price * transaction.quantity %>
            <span><%= operation %> $<%= value.to_s %></span>
          <% end %>
          <%= table_column transaction.created_at.strftime('%Y - %m - %d') %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
