<%= link_to 'Back', admin_users_path %>
<ul class='flex flex-col gap-2'>
  <li><%= @user.first_name %></li>
  <li><%= @user.last_name %></li>
  <li><%= @user.email %></li>
  <li><%= @user.role %></li>
  <li><%= @user.approved %></li>
</ul>

<div class='w-96'>
  <%= render partial: 'edit_user_form', locals: { user: @user } %>
  <%= render partial: 'delete_user_form', locals: { user: @user } %>
</div>
