<div class="flex flex-col h-full w-full gap-4 text-sm">
  <div class="w-full mb-6 font-thin text-xs cursor-pointer">
    <%= render_breadcrumbs :separator => ' > ' %>
  </div>
  <%= render 'user_details', collection: @user %>

  <%= render_card class: "w-full p-4 min-w-[350px] overflow-hidden" do %>
    <div class='h-full w-full flex flex-row'>
      <%= render partial: 'transactions/search', locals: { user: @user } %>
      <%= render partial: 'user_transactions_filters' %>
    </div>

    <%= render_separator class: 'my-6' %>

    <turbo-frame id="user_transactions">
      <%= render partial: 'transactions/user_transactions_table' %>
    </turbo-frame>

    <% end %>
</div>
