<div class="flex flex-col h-full w-full gap-4 text-sm">
  <div class="w-full mb-6 font-thin text-xs cursor-pointer">
    <%= render_breadcrumbs :separator => ' > ' %>
  </div>
  <%= render 'user_details', collection: @user %>

  <%= render_card class: "w-full p-4 min-w-[350px] overflow-hidden" do %>
    <%= render partial: 'user_transactions_filters' %>

    <%= render_separator class: 'my-6' %>

    <%= render 'user_transactions', collection: @transactions %>
    <%# turbo_frame_tag 'market_trends_frame', src: stocks_tables_path(filter: params[:filter]) do %>
      <%# render_skeleton %>
      <%# end %>
    <% end %>
</div>

