<div class="flex items-center justify-center p-4">
    <div class="p-4">
      <%= render_form_for(transaction) do |form| %>
        <div class="flex flex-wrap items-end gap-2 p-4">

          <div>
            <%= form.label :symbol %>
            <%= form.text_field :symbol, value: stock.present? ? stock.symbol : '', class: "w-24" %>
          </div>

          <div>
            <%= form.label :price %>
            <%= form.number_field :price, value: stock.present? ? stock.latest_price : 0, class: "w-24" %>
          </div>

          <div>
            <%= form.label :quantity %>
            <%= form.number_field :quantity, class: "w-24" %>
          </div>

          <div>
            <%= form.hidden_field :transaction_type, value: transaction_type, class: "form-control" %>
            <%= form.submit transaction_type.capitalize, class: "p-4 cursor-pointer button button-primary" %>
          </div>  
        </div>
      <% end %>
    </div>
</div>
