<div class="w-full mb-6 font-thin text-xs cursor-pointer">
  <%= render_breadcrumbs :separator => ' > ' %>
</div>

<%= render_card title: "My Transactions", class: "flex flex-col gap-4 w-full p-6" do %>
  <div class='flex flex-row gap-4 w-full'>
  <%= render partial: 'search', locals: { user: current_user } %>
  <%= render partial: 'filters' %>
  </div>

  <turbo-frame id="transactions">
    <%= render partial: 'user_transactions_table' %>
  </turbo-frame>
<% end %>
