<div class='h-full w-full flex items-center justify-center'>
  <div class="flex flex-col lg:flex-row items-center lg:items-start w-full gap-4">
    <%= render_card class: 'h-fit w-full max-w-xs p-6' do %>
      <%= render partial: 'stocks_search/form', locals: { type: :form } %>
      <%= render_separator class: 'my-6' %>
      <%= render "form", transaction: @transaction, items: @stocks %>
    <% end %>

    <div class='flex-1 w-full'>
      <turbo-frame id="details">
        <%= render partial: 'stocks_details/info', locals: { 
          details: @details } %>
      </turbo-frame>
    </div>
  </div>
</div>
