<!DOCTYPE html>
<html>
  <head>
    <title>Avion Finance</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css", integrity: "...", crossorigin: "anonymous" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  </head>

  <body class="flex h-full w-full min-h-screen flex-col p-6 lg:p-12 lg:pt-24">
    <header data-controller="header-shadow" class="fixed top-0 left-0 w-full bg-white z-50">
      <nav class="container mx-auto flex items-center justify-between p-4 lg:px-12" aria-label="Global">
        <div class="flex flex-1 gap-1 items-center">
          <%= render 'components/navbar/logo' %>
          <span class="font-semibold text-xl text-secondary">Finance</span>
        </div>
        <% if current_user.present? && current_user.role == 'admin' %>
          <%= render 'components/navbar/admin' %>
        <% else %>
          <%= render 'components/navbar/user' %>
        <% end %>
      </nav>
    </header>

    <% if notice %>
      <%= render_toast id: "default_toast", description: notice %>
    <% end %>

    <% if alert %>
      <%= render_toast description: alert, id: "alert_toast", variant: :destructive %>
    <% end %>

    <div class="mt-16 lg:mt-0">
      <%= yield %>
    </div>
    
  </body>

</html>

